$main-bg: #d6e6ef;
$main-text-color: #163c4a;

$nav-bg: #4cb2e7;
$nav-color: #ffffff;

$title-h1: #f2610a;

$form-field-bg: #0f6686;
$form-btn-bg: #d6e6ef;
$forn-btn-color: #1380a7;

$footer-bg-top: #1c94c0;
$footer-bg-bottom: #1481a9;

$social-link-bg: #3bb3de;