@import 'variables';
@import 'mixin';

@import 'header';
@import 'components/logo';
@import 'components/navigation';
@import 'components/slider-control';
@import 'content';
@import 'components/form';
@import 'footer';
@import 'components/social-link';
@import 'components/contacts';
@import 'components/btn-nav';
@import 'location-info';
@import 'components/map-block';


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	min-height: 100vh;
	height: 100%;
	flex-direction: column;
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: $main-text-color;
	background-color: $main-bg;
	box-sizing: border-box;
	font-size: 1.6rem;
}

.wrapper {
	max-width: 1054px;
	width: 100%;
	margin: 0 auto;
}

.title-h1 {
	font-size: 4.8rem;
	font-weight: 300;
	color: $title-h1;
	line-height: 5rem;

	@media screen and (max-width: 480px) {
		font-size: 3.8rem;
		line-height: 3.8rem;
	}
}

.title-h2 {
	font-size: 3.5rem;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 4rem;
	margin-bottom: 3rem;
}

.title-h3 {
	font-size: 2.5rem;
	font-weight: 100;
	letter-spacing: 1px;
}

.title-description {
	font-size: 2.4rem;
	font-weight: 300;
	margin-bottom: 3.5rem;
	color: #6ab5d0;

	@media screen and (max-width: 480px) {
		font-size: 2rem;
	}
}

.description-block {
	margin-bottom: 3.5rem;
}

.tel-link {
	color: #fff;

	@extend %a;

	&:hover {
		color: darken(#fff, 10%);
		text-decoration: underline;
	}
}

#rules:target {
	padding: 1rem;
	background-color: darken($slider-btn-bg, 10%);
	border-radius: 1rem;
}

.btn-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 1rem;
	bottom: 3rem;
	width: 4rem;
	height: 4rem;
	border-radius: .5rem;
	background-color: darken($slider-btn-bg, 10%);
	transition: all .3s ease;

	&:hover {
		background-color: darken($slider-btn-bg, 25%);
		border-radius: 50%;
	}

	&::before,
	&::after {
		position: absolute;
		content: "";
		left: 50%;
	}

	&::before {
		width: 1.5rem;
		height: 1.5rem;
		top: 10px;
		border-style: solid;
		border-width: 0 .3rem .3rem 0;
		border-color: #fff;
		transform: translate(-50%, 0) rotate(-135deg);
	}

	&::after {
		width: .3rem;
		height: 2rem;
		top: 50%;
		transform: translate(-50%, -45%);
		background-color: #fff;
	}

	&.activ-up {
		visibility: visible;
		opacity: 1;
	}
}
