@import 'variables';
@import 'mixin';

@import 'header';
@import 'components/logo';
@import 'components/navigation';
@import 'components/slider-control';
@import 'content';
@import 'components/form';
@import 'footer';
@import 'components/social-link';
@import 'components/contacts';
@import 'components/btn-nav';
@import 'location-info';
@import 'components/map-block';


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	min-height: 100vh;
	height: 100%;
	flex-direction: column;
	font-family: 'Myriad Pro', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: $main-text-color;
	background-color: $main-bg;
	box-sizing: border-box;
	font-size: 1.6rem;
}

.wrapper {
	max-width: 1054px;
	width: 100%;
	margin: 0 auto;
}

.title-h1 {
	font-size: 4.8rem;
	font-weight: 300;
	color: $title-h1;
	line-height: 5rem;

	@media screen and (max-width: 480px) {
		font-size: 3.8rem;
		line-height: 3.8rem;
	}
}

.title-h2 {
	font-size: 3.5rem;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 4rem;
	margin-bottom: 3rem;
}

.title-h3 {
	font-size: 2.5rem;
	font-weight: 100;
	letter-spacing: 1px;
}

.title-description {
	font-size: 2.4rem;
	font-weight: 300;
	margin-bottom: 3.5rem;
	color: #6ab5d0;

	@media screen and (max-width: 480px) {
		font-size: 2rem;
	}
}

.description-block {
	margin-bottom: 3.5rem;
}

.tel-link {
	color: #fff;

	@extend %a;

	&:hover {
		color: darken(#fff, 10%);
		text-decoration: underline;
	}
}