.logo {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 3rem;
	padding: 2rem;
	text-align: center;
	color: #299fca;
	background-color: #e1ecf2;
	text-decoration: none;
	border: 0.5rem solid #fff;
	border-radius: 1rem;
	transform: translateY(-20px) rotate(-5deg);

	&__title {
		display: block;
		font-size: 3.6rem;
		text-transform: uppercase;
	}

	&__description {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 480px) {
	.logo {
		padding: 2rem 1rem 1rem;
		top: .3rem;
		left: .8rem;

		&__title {
			font-size: 2.5rem;
		}

	}
}