.map-block {
	width: 100%;
	height: 350px;
	margin: 2rem auto;
	background-color: #fff;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 7px 10px -5px rgba(0, 0, 0, .4);

	&--1 {
		background-image: url("../img/map/mayak.jpg");
	}

	&--2 {
		background-image: url("../img/map/chern.jpg");
	}
}