.navigation {
	display: inline-block;
	background-color: $nav-bg;

	@media screen and (max-width: 900px) {
		display: none;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
	}

	&__item:not(last-child) {
		margin-right: 2.5rem;
	}

	&__link {
		@extend %a;

		position: relative;
		font-family: 'Gill Sans';
		font-size: 1.7rem;
		font-style: italic;
		color: $nav-color;

		&::after {
			position: absolute;
			content: "";
			width: 100%;
			height: 0;
			left: 0;
			bottom: -2px;
			background-color: $main-text-color;
			transition: all .3s ease;
		}

		&:hover {
			color: $main-text-color;

			&::after {
				height: 3px;
			}
		}
	}
}