.slider-control {
	position: absolute;
	top: 34rem;
	left: 2rem;
	z-index: 10;

	&__btn {
		position: relative;
		width: 5rem;
		height: 5rem;
		background-color: $slider-btn-bg;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		outline: none;

		&:first-child {
			margin-right: 1rem;
		}

		&::before {
			position: absolute;
			content: "";
			top: 50%;
			width: 0;
			height: 0;
			border-top: .8rem solid transparent;
			border-bottom: .8rem solid transparent;
			transform: translate(-50%, -50%);
		}

		&--left {
			top: -3rem;

			&::before {
				border-right: 1.4rem solid #383838;
			}
		}

		&--right {
			&::before {
				border-left: 1.4rem solid #383838;
			}
		}

		&:hover,
		&:active {
			background-color: darken($slider-btn-bg, 10%);
		}

		&:active {
			box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, .25)
		}
	}
}